<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Very Cool Cinema</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>
<body>

<nav th:fragment="nav" class="topnav">
    <a class="active" th:href="@{'/'}">Home Page</a>
    <div th:if="${#authorization.expression('hasAnyRole(''ADMIN, USER'')')}"><a th:href="@{'/movies/list'}">Movie
        List</a></div>
    <div th:if="${#authorization.expression('hasAnyRole(''ADMIN, USER'')')}"><a th:href="@{'/fnds/list'}">Food & Drinks</a>
    </div>
    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a th:href="@{'console'}">Database</a></div>
    <a th:href="@{'/about'}">About</a>

    <div class="test">
        <a sec:authorize="!isAuthenticated()" class="btn btn-outline-light" th:href="@{/login}">Login</a>

        <a sec:authorize="isAuthenticated()" class="nav-item dropdown">
            <a class="nav-item" id="logoutNavbarDropdown" role="button"
               aria-haspopup="true" aria-expanded="false" th:href="@{/logout}"> Log Out
            </a>
            <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <a class="nav-item" role="button"
                   aria-haspopup="true" aria-expanded="false" th:href="@{/register}"> Register
                </a></div>
            <a class="nav-item" role="button"
               aria-haspopup="true" aria-expanded="false" sec:authentication="name">
            </a>
        </a>
    </div>
</nav>

<!--<div class="container my-2">-->
<!--    <div class="card">-->
<!--        <div class="card-body">-->
<!--            <div class="container my-5">-->

<!--                <p style="font-size:95%;" class="my-5" align="center">-->
<!--                    <b>Welcome</b>-->
<!--                </p>-->

<!--                <p style="font-size:95%;" class="my-5">-->
<!--                    This is ...-->
<!--                </p>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>